### 1. address 변수에 담긴 값을 슬라이싱 [ : ] 을 사용해서 "강남구"만 추출합니다.

In [1]:
address = "서울시 강남구 봉은사로 114길 12(삼성동)"
address[4:7]

'강남구'

### 2. address 변수에 담긴 값을 <font color="red">split을 사용해 리스트</font>로 만들고 대괄호[ ]를 써서 <font color="red">인덱싱</font>을 통해 "강남구"만 추출합니다.

In [3]:
address = "서울시 강남구 봉은사로 114길 12(삼성동)"
address.split(" ")[1]

'강남구'

### 3. 아래의 형태로 데이터가 출력되도록 for문을 완성하세요.
```
경기도
용인시
처인구
포곡읍
삼계리
553-4
```

In [5]:
address_list = ['경기도', '용인시', '처인구', '포곡읍', '삼계리', '553-4']
for i in address_list:
    print(i)

경기도
용인시
처인구
포곡읍
삼계리
553-4

### 4. 아래의 결과가 출력되도록 문장을 완성하세요.

```
3
6
9
```

In [6]:
for number in range(1, 10):
    if number % 3 == 0:
        print(number)

3
6
9

### 5. 다음의 빈칸을 완성해서 판다스의 데이터프레임을 만듭니다.

* 아래와 같이 출력이 되도록 합니다.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>약품명</th>
      <th>재고량</th>
      <th>입고여부</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>자누비아</td>
      <td>4562</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>제미글로</td>
      <td>4500</td>
      <td>False</td>
    </tr>
    <tr>
      <th>2</th>
      <td>우루사</td>
      <td>4356</td>
      <td>True</td>
    </tr>
    <tr>
      <th>3</th>
      <td>임팩타민</td>
      <td>4032</td>
      <td>False</td>
    </tr>
  </tbody>
</table>

In [8]:
import pandas as pd
data = {'약품명': ["자누비아", "제미글로", "우루사", "임팩타민"], 
     '재고량': [4562, 4500, 4356, 4032],
     '입고여부': [True, False, True, False],
    }
df = pd.DataFrame(data)
df

    약품명   재고량   입고여부
0  자누비아  4562   True
1  제미글로  4500  False
2   우루사  4356   True
3  임팩타민  4032  False

### 6. df라는 변수에 담긴 값을 type을 통해 데이터 타입을 출력해 주세요.
* 출력결과는 다음과 같이 나오게 합니다.

`pandas.core.frame.DataFrame`

In [9]:
type(df)

pandas.core.frame.DataFrame

### 7. 데이터프레임의 행과 열의 수를 출력합니다. (4, 3) 이라는 결과가 출력됩니다.

In [11]:
df.shape

(4, 3)

### 8. 우루사가 있는 행만 가져와서 다음과 같이 출력이 되도록 합니다.

```
약품명      우루사
재고량     4356
입고여부    True
Name: 2, dtype: object
```

In [18]:
df.iloc[2]

약품명      우루사
재고량     4356
입고여부    True
Name: 2, dtype: object

### 9. 약품명 컬럼만 시리즈 형태로 출력해 주세요.
* 다음과 같이 출력되게 해주세요.
```
0    자누비아
1    제미글로
2     우루사
3    임팩타민
Name: 약품명, dtype: object
```

In [20]:
df["약품명"]

0    자누비아
1    제미글로
2     우루사
3    임팩타민
Name: 약품명, dtype: object

### 10. 약품명, 재고량 컬럼만 데이터프레임 형태로 출력해 주세요.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>약품명</th>
      <th>재고량</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>자누비아</td>
      <td>4562</td>
    </tr>
    <tr>
      <th>1</th>
      <td>제미글로</td>
      <td>4500</td>
    </tr>
    <tr>
      <th>2</th>
      <td>우루사</td>
      <td>4356</td>
    </tr>
    <tr>
      <th>3</th>
      <td>임팩타민</td>
      <td>4032</td>
    </tr>
  </tbody>
</table>

In [21]:
df[["약품명","재고량"]]

    약품명   재고량
0  자누비아  4562
1  제미글로  4500
2   우루사  4356
3  임팩타민  4032

### 11. 다음의 결과가 출력되도록 코드를 작성하세요.
```
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype 
---  ------  --------------  ----- 
 0   약품명     4 non-null      object
 1   재고량     4 non-null      int64 
 2   입고여부    4 non-null      bool  
dtypes: bool(1), int64(1), object(1)
memory usage: 196.0+ bytes
```

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   약품명     4 non-null      object
 1   재고량     4 non-null      int64
 2   입고여부    4 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 196.0+ bytes

### 12. 다음의 결과가 출력되도록 코드를 작성해 주세요.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>재고량</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>4.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>4362.500000</td>
    </tr>
    <tr>
      <th>std</th>
      <td>236.628401</td>
    </tr>
    <tr>
      <th>min</th>
      <td>4032.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>4275.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>4428.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>4515.500000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>4562.000000</td>
    </tr>
  </tbody>
</table>

In [24]:
df.describe()

               재고량
count     4.000000
mean   4362.500000
std     236.628401
min    4032.000000
25%    4275.000000
50%    4428.000000
75%    4515.500000
max    4562.000000

In [ ]:
#수고 많으셨습니다