In [2]:
import pandas as pd

* 제미글로와 자누비아 처방 데이터 가져오기
* 제미글로와 자누비아를 처방한 내역입니다.
* 제미글로와 자누비아 처방시 함께 처방한 의약품 내역도 함께 있습니다.

* 데이터셋 다운로드 : https://drive.google.com/file/d/1ZNVFOOQHJS3vuAI8AgIGX3bl7p8YSz1D/view?usp=sharing

In [3]:
df = pd.read_csv("data/quiz_zemiglo_januvia.csv")
df.shape

(250559, 19)

In [4]:
df.head(1)

,기준년도,가입자일련번호,처방내역일련번호,일련번호,성별코드,연령대코드(5세단위),시도코드,요양개시일자,약품일반성분명코드,1회투약량,1일투약량,총투여일수,단가,금액,데이터공개일자,대표제품,제약회사,ATC코드,성분/함량
0,2018,45,59753763,1,2,16,31,20180719,170801ATB,0.5,1,30,10.0,150,20191217,다이크로짇정(히드로클로로티아지드)_(25mg/1정),(주)유한양행,C03AA03,hydrochlorothiazide 25mg

## (1) 총 투여일수가 많은 순서로 10개의 처방내역을 추출해서 다음의 컬럼만 출력이 되도록 합니다.
* 빈칸을 채워주세요.
* 다음의 컬럼명만 출력되게 해주세요.
`"대표제품", "제약회사", "총투여일수", "성별코드", "연령대코드(5세단위)"`

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>대표제품</th>
      <th>제약회사</th>
      <th>총투여일수</th>
      <th>성별코드</th>
      <th>연령대코드(5세단위)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>74820</th>
      <td>유글렉스정2밀리그램(글리메피리드)_(2mg/1정)</td>
      <td>(주)대웅제약</td>
      <td>300</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <th>74822</th>
      <td>가스모틴에스알정(모사프리드시트르산염수화물)_(15.88mg/1정)</td>
      <td>(주)대웅제약</td>
      <td>300</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <th>74821</th>
      <td>광동시타글립틴인산염수화물정100밀리그램_(0.1285g/1정)</td>
      <td>광동제약(주)</td>
      <td>300</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <th>201956</th>
      <td>올메디퀄정5/20밀리그램_(1정)</td>
      <td>(주)한독</td>
      <td>270</td>
      <td>2</td>
      <td>12</td>
    </tr>
    <tr>
      <th>117521</th>
      <td>뉴옥시탐정(옥시라세탐)_(0.8g/1정)</td>
      <td>환인제약(주)</td>
      <td>240</td>
      <td>2</td>
      <td>16</td>
    </tr>
    <tr>
      <th>117523</th>
      <td>클로아트정(클로피도그렐황산염)_(97.875mg/1정)</td>
      <td>(주)대웅제약</td>
      <td>240</td>
      <td>2</td>
      <td>16</td>
    </tr>
    <tr>
      <th>117525</th>
      <td>데잘탄플러스정16/12.5밀리그램_(1정)</td>
      <td>한미약품(주)</td>
      <td>240</td>
      <td>2</td>
      <td>16</td>
    </tr>
    <tr>
      <th>117526</th>
      <td>제미글로정50밀리그램(제미글립틴타르타르산염1.5수화물)_(68.9mg/1정)</td>
      <td>(주)엘지화학</td>
      <td>240</td>
      <td>2</td>
      <td>16</td>
    </tr>
    <tr>
      <th>117529</th>
      <td>글리매핀엠정2/500밀리그램_(1정)</td>
      <td>영진약품공업(주)</td>
      <td>240</td>
      <td>2</td>
      <td>16</td>
    </tr>
    <tr>
      <th>125317</th>
      <td>올메디퀄정5/20밀리그램_(1정)</td>
      <td>(주)한독</td>
      <td>231</td>
      <td>2</td>
      <td>14</td>
    </tr>
  </tbody>
</table>

In [5]:
df_long_day = df.sort_values("총투여일수", ascending=False).head(10)
df_long_day[["대표제품", "제약회사", "총투여일수", "성별코드", "연령대코드(5세단위)"]]

,대표제품,제약회사,총투여일수,성별코드,연령대코드(5세단위)
74820,유글렉스정2밀리그램(글리메피리드)_(2mg/1정),(주)대웅제약,300,1,10
74822,가스모틴에스알정(모사프리드시트르산염수화물)_(15.88mg/1정),(주)대웅제약,300,1,10
74821,광동시타글립틴인산염수화물정100밀리그램_(0.1285g/1정),광동제약(주),300,1,10
201956,올메디퀄정5/20밀리그램_(1정),(주)한독,270,2,12
117521,뉴옥시탐정(옥시라세탐)_(0.8g/1정),환인제약(주),240,2,16
117523,클로아트정(클로피도그렐황산염)_(97.875mg/1정),(주)대웅제약,240,2,16
117525,데잘탄플러스정16/12.5밀리그램_(1정),한미약품(주),240,2,16
117526,제미글로정50밀리그램(제미글립틴타르타르산염1.5수화물)_(68.9mg/1정),(주)엘지화학,240,2,16
117529,글리매핀엠정2/500밀리그램_(1정),영진약품공업(주),240,2,16
125317,올메디퀄정5/20밀리그램_(1정),(주)한독,231,2,14

## (2) 총투여일수가 100일 보다 큰 데이터에서 "연령대코드(5세단위)" 별로 "금액"의 평균을 구해주세요.
* 다음의 결과가 나오도록 구합니다.

```연령대코드(5세단위)
연령대코드(5세단위)
4     58052.333333
6     73500.000000
7     40616.000000
8     75301.782609
9     75422.745763
10    87830.557292
11    68194.444444
12    71557.906805
13    67583.382865
14    66712.925570
15    65135.538799
16    74193.506901
17    60941.336824
18    69897.496855
Name: 금액, dtype: float64
```

In [15]:
df[(df["총투여일수"] > 100)].groupby("연령대코드(5세단위)")["금액"].mean()

연령대코드(5세단위)
4     58052.333333
6     73500.000000
7     40616.000000
8     75301.782609
9     75422.745763
10    87830.557292
11    68194.444444
12    71557.906805
13    67583.382865
14    66712.925570
15    65135.538799
16    74193.506901
17    60941.336824
18    69897.496855
Name: 금액, dtype: float64

## (3) 처방금액이 100만원(1000000) 보다 큰 데이터를 찾아서 ["대표제품", "금액", "총투여일수"] 컬럼만 출력해 주세요.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>대표제품</th>
      <th>금액</th>
      <th>총투여일수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>161522</th>
      <td>타리무스캡슐1밀리그램(타크로리무스수화물)_(1.02mg/1캡슐)</td>
      <td>1265712</td>
      <td>56</td>
    </tr>
    <tr>
      <th>227754</th>
      <td>타리무스캡슐1밀리그램(타크로리무스수화물)_(1.02mg/1캡슐)</td>
      <td>1017960</td>
      <td>85</td>
    </tr>
  </tbody>
</table>

In [22]:
df.loc[(df["금액"] > 1000000), ["대표제품", "금액", "총투여일수"]]

                                       대표제품       금액  총투여일수
161522  타리무스캡슐1밀리그램(타크로리무스수화물)_(1.02mg/1캡슐)  1265712     56
227754  타리무스캡슐1밀리그램(타크로리무스수화물)_(1.02mg/1캡슐)  1017960     85

## (4) "총투여일수"가 100일 보다 크고 제약회사가 "대웅제약" 이 아닌 데이터를 찾아주세요. df_100_not_dw 라는 변수에 할당하고, df_100_not_dw 변수에 담긴 값의 행과 열의 수를 세어 주세요.

`(5275, 19)` 라는 결과가 나옵니다.

In [16]:
df_100_not_dw = df[(df["총투여일수"] > 100) & (df["제약회사"]!="대웅제약")]
df_100_not_dw.shape

(5275, 19)

## (5) 위에서 구한 df_100_not_dw 변수에 담겨있는 값으로 groupby 를 통해 "대표제품"의 평균"금액"을 구하고 낮은 순으로 5개만 출력해 주세요.
* 아래의 결과가 출력됩니다.
* 아래의 결과는 위에서 구한 총투여일수가 100일보다 크고 대웅제약이 아닌 약품 중에서 "금액"의 평균이 낮은 5개의 제품입니다.
```
대표제품
다이크로짇정(히드로클로로티아지드)_(25mg/1정)     670.769231
소론도정(프레드니솔론)_(5mg/1정)            896.000000
신일폴산정_(1mg/1정)                  1603.000000
바이엘아스피린정100밀리그람_(0.1g/1정)       2522.625000
디고신정(디곡신)_(0.25mg/1정)           2718.000000
Name: 금액, dtype: float64
```

In [23]:
df_100_not_dw.groupby(["대표제품"])["금액"].mean().sort_values().head()

대표제품
다이크로짇정(히드로클로로티아지드)_(25mg/1정)     670.769231
소론도정(프레드니솔론)_(5mg/1정)            896.000000
신일폴산정_(1mg/1정)                  1603.000000
바이엘아스피린정100밀리그람_(0.1g/1정)       2522.625000
디고신정(디곡신)_(0.25mg/1정)           2718.000000
Name: 금액, dtype: float64

## (6) "금액"이 10만원(100000) 보다 크고 "연령대코드(5세단위)" 가 12 보다 큰 데이터를 추출합니다. 여기에서 "대표제품" 의 빈도수가 높은 값 5개만 출력해 주세요.
* 아래의 결과가 출력되도록 합니다.
```
광동시타글립틴인산염수화물정100밀리그램_(0.1285g/1정)            334
클로아트정(클로피도그렐황산염)_(97.875mg/1정)                185
제미글로정50밀리그램(제미글립틴타르타르산염1.5수화물)_(68.9mg/1정)    118
씨제이크레메진세립(구형흡착탄)_(2g/2g)                       68
시타립틴정50밀리그램(시타글립틴인산염수화물)_(64.25mg/1정)          45
Name: 대표제품, dtype: int64
```

In [25]:
df.loc[(df["금액"] > 100000) & (df["연령대코드(5세단위)"] > 12), "대표제품"].value_counts().head()

광동시타글립틴인산염수화물정100밀리그램_(0.1285g/1정)            334
클로아트정(클로피도그렐황산염)_(97.875mg/1정)                185
제미글로정50밀리그램(제미글립틴타르타르산염1.5수화물)_(68.9mg/1정)    118
씨제이크레메진세립(구형흡착탄)_(2g/2g)                       68
시타립틴정50밀리그램(시타글립틴인산염수화물)_(64.25mg/1정)          45
Name: 대표제품, dtype: int64

## (7) .loc를 사용해서 "1회투약량"이 350 보다 큰 데이터를 찾아서 "대표제품" 컬럼만 출력되게 해주세요.
* 아래와 같이 출력됩니다. 인덱스 번호와 대표제품이 출력됩니다.

```
48650     모니락시럽(락툴로오스농축물)_(670g/500mL)
48651     모니락시럽(락툴로오스농축물)_(670g/500mL)
48652     모니락시럽(락툴로오스농축물)_(670g/500mL)
48653     모니락시럽(락툴로오스농축물)_(670g/500mL)
48654     모니락시럽(락툴로오스농축물)_(670g/500mL)
48655     모니락시럽(락툴로오스농축물)_(670g/500mL)
48656     모니락시럽(락툴로오스농축물)_(670g/500mL)
48657     모니락시럽(락툴로오스농축물)_(670g/500mL)
48658     모니락시럽(락툴로오스농축물)_(670g/500mL)
48659     모니락시럽(락툴로오스농축물)_(670g/500mL)
48660     모니락시럽(락툴로오스농축물)_(670g/500mL)
78219     모니락시럽(락툴로오스농축물)_(670g/500mL)
78220     모니락시럽(락툴로오스농축물)_(670g/500mL)
127847                 코디캄에스시럽_(500mL)
Name: 대표제품, dtype: object
```

In [26]:
df.loc[df["1회투약량"] > 350, "대표제품"]

48650     모니락시럽(락툴로오스농축물)_(670g/500mL)
48651     모니락시럽(락툴로오스농축물)_(670g/500mL)
48652     모니락시럽(락툴로오스농축물)_(670g/500mL)
48653     모니락시럽(락툴로오스농축물)_(670g/500mL)
48654     모니락시럽(락툴로오스농축물)_(670g/500mL)
48655     모니락시럽(락툴로오스농축물)_(670g/500mL)
48656     모니락시럽(락툴로오스농축물)_(670g/500mL)
48657     모니락시럽(락툴로오스농축물)_(670g/500mL)
48658     모니락시럽(락툴로오스농축물)_(670g/500mL)
48659     모니락시럽(락툴로오스농축물)_(670g/500mL)
48660     모니락시럽(락툴로오스농축물)_(670g/500mL)
78219     모니락시럽(락툴로오스농축물)_(670g/500mL)
78220     모니락시럽(락툴로오스농축물)_(670g/500mL)
127847                 코디캄에스시럽_(500mL)
Name: 대표제품, dtype: object

## (8) "단가"가 1만원(10000)보다 큰 데이터에서 "금액" 컬럼의 합계(sum)를 구해주세요.
* 다음의 결과가 나옵니다.
`83272688`

In [30]:
df.loc[df["단가"] > 10000, "금액"].sum()

83272688

## (9) 아래의 약품코드는 대웅로수바스타틴정에 대한 코드 입니다. 다음 코드가 들어가는 처방내역만 가져와 주세요.
* ["454001ATB", "454002ATB", "454003ATB"]
* 아래의 코드에서 대웅로수바스타틴정에 해당되는 데이터만 가져와서 df_rosuvastatin 에 할당해 주세요.
* 그리고 df_rosuvastatin.shape 로 크기를 출력했을 때 `(6807, 19)` 의 결과가 출력되도록 해주세요.

In [34]:
df_rosuvastatin = df[df["약품일반성분명코드"].isin(["454001ATB", "454002ATB", "454003ATB"])]
df_rosuvastatin.shape

(6807, 19)

## (10) 9번 문제에서 만든 df_rosuvastatin 으로 다음의 결과가 출력되도록 groupby 를 통해 구해주세요.
* "연령대코드(5세단위)", "성별코드" 로 그룹화 하고 "처방내역일련번호" 로 처방수를 구합니다.
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>성별코드</th>
      <th>1</th>
      <th>2</th>
    </tr>
    <tr>
      <th>연령대코드(5세단위)</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>2.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>21.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>38.0</td>
      <td>25.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>150.0</td>
      <td>59.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>241.0</td>
      <td>83.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>325.0</td>
      <td>212.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>588.0</td>
      <td>431.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>485.0</td>
      <td>460.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>592.0</td>
      <td>641.0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>377.0</td>
      <td>552.0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>266.0</td>
      <td>519.0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>173.0</td>
      <td>328.0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>75.0</td>
      <td>147.0</td>
    </tr>
  </tbody>
</table>

In [38]:
df_rosuvastatin.groupby(["연령대코드(5세단위)", "성별코드"])["처방내역일련번호"].count().unstack()

성별코드             1      2
연령대코드(5세단위)
4              2.0    NaN
5              6.0    NaN
6              7.0    4.0
7             21.0    NaN
8             38.0   25.0
9            150.0   59.0
10           241.0   83.0
11           325.0  212.0
12           588.0  431.0
13           485.0  460.0
14           592.0  641.0
15           377.0  552.0
16           266.0  519.0
17           173.0  328.0
18            75.0  147.0