In [1]:
import pandas as pd

In [132]:
df = pd.read_csv('/Users/hyunkyungwoo/Documents/DABA4기 프로젝트/문의 키워드/제품이름_전처리_이름.csv')
df.head()

                          Unnamed: 0  GOODS_NM goods_kor
0                  일회용주사기(D/Syringe)       173    일회용주사기
1                 일회용주사침 (D/Needles)       123   일회용주사침
2  포리카테타 (FOLEY CATHETER) - SILICONE        61  포리카테타
3                    접은거즈(FoldGauze)        58      접은거즈
4               일회용주사기(D/Syringe)-카톤        51    일회용주사기

In [133]:
df.iloc[3508]

Unnamed: 0    개미 제거제 엔트애니킬(개미과립)
GOODS_NM                       2
goods_kor           개미 제거제 엔트애니킬
Name: 3508, dtype: object

# 전치리 함수 정의

In [135]:
import re

def pre_processing(goods_nm):
#     if goods_nm.str.contains('크림|정|서방정|액|캡슐|로션|필름|시럽|겔', na = False):
#         return print(goods_nm)
    
    #matches = ['크림','정','서방정','액','캡슐','로션','필름','시럽','겔']

    matches = ['종근당','동광','홈세이프','중외','피엠에스','서울','코반','헬스퓨어','경남제약','케이엠에스','시에스베리아',
              '유엔아이','경남','뽀롱뽀롱','겨울왕국','네오프렌','바이오파마','루크','대한','기획','크리넥스','성광','홈닥터',
              '오므론']
    
    if any(x in goods_nm for x in matches):
        return re.sub(r'|'.join(map(re.escape, matches)), '', goods_nm)

# 전처리 원하는 부분 확인

In [136]:
temp_df = df[['goods_kor']].iloc[3508:17100]
temp_df

            goods_kor
3508     개미 제거제 엔트애니킬
3509              씨팍신
3510   상쾌한 하루 쾌변 모닝프리
3511             토파메드
3512       메디폼 밴드 혼합형
...               ...
17095           라미푸르브
17096        파비스오플록사신
17097   킴벌리 크린가드 청마스크
17098       키네시올로지테이프
17099        밴드 면반창고

[13592 rows x 1 columns]

# 전치러 함수 실행

In [137]:
for idx, row in temp_df.iterrows():
    #print(row.goods_kor)
    #print(idx)
    #matches = ['크림','정','서방정','액','캡슐','로션','필름','시럽','겔']
    #matches = ['국제멸균','일동','대웅','디앤비','광동','뽀로로','웰팜스','일성','재스퍼','뉴바이오','한일','수성','닥터그린','보령',
              #'훼미리','제일','덴탈마스터']
        
#     matches = ['한신','현재','삼성','닥터헬퍼','유한','카톤','한미','영풍','하나케어','닥터스판','코지','맥손','근화','뉴케어','서머스킨',
#               '국제','닥터체크','점안','제이팜','오투웰','테이핑','덴탈프로','녹십자','대성','신풍','경남제약','대일','셀트리온','부광',
#               '상아','명인','신신','한국콜마','두원','수암제약','세트','대일밴드','유한킴벌리']
    matches = ['종근당','동광','홈세이프','중외','피엠에스','서울','코반','헬스퓨어','경남제약','케이엠에스','시에스베리아',
              '유엔아이','경남','뽀롱뽀롱','겨울왕국','네오프렌','바이오파마','루크','대한','기획','크리넥스','성광','홈닥터',
              '오므론']
    if type(temp_df.loc[idx]['goods_kor']) == float:
        pass
    elif any(x in temp_df.loc[idx]['goods_kor'] for x in matches):
        temp_df.loc[idx] = pre_processing(temp_df.loc[idx]['goods_kor'])
    #print(temp_df.loc[idx]['goods_kor'])

In [138]:
temp_df

            goods_kor
3508     개미 제거제 엔트애니킬
3509              씨팍신
3510   상쾌한 하루 쾌변 모닝프리
3511             토파메드
3512       메디폼 밴드 혼합형
...               ...
17095           라미푸르브
17096        파비스오플록사신
17097   킴벌리 크린가드 청마스크
17098       키네시올로지테이프
17099        밴드 면반창고

[13592 rows x 1 columns]

# 결과물 저장 및 복사 붙이기

In [139]:
temp_df.to_csv('210816.csv', index = False, encoding='utf-8-sig')